---
const { name, highlight = "function", open = false } = Astro.props;
---

<details class="cb-method" id={name} open={open}>
  <summary>
    <a class="cb-anchor" href={`#${name}`} aria-label={`Link to ${name}`}>#</a>
    <slot name="modifiers" />
    <span class={`cb-hl cb-hl-${highlight}`}>{name}</span>
  </summary>
  <div class="cb-method-body">
    <slot />
  </div>
</details>
